<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ABRAMS PLANETARIUM</string>
	<string>AG EXPO EXHIBITORS - WICK NO. 1</string>
	<string>AGRICULTURE HALL</string>
	<string>AKERS -INTERCOLLEGIATE GOLF COMPLEX</string>
	<string>AKERS GOLF DRIVING RANGE ENCLOSURE</string>
	<string>AKERS GOLF DRIVING RANGE-WEST</string>
	<string>AKERS HALL</string>
	<string>ALUMNI MEMORIAL CHAPEL</string>
	<string>AMTRAK STATION</string>
	<string>ANGELL UNIVERSITY SERVICES BUILDING</string>
	<string>ANTHONY HALL</string>
	<string>ARMSTRONG HALL</string>
	<string>AUDITORIUM</string>
	<string>BAILEY HALL</string>
	<string>BAKER HALL</string>
	<string>BEAL GARDENS GAZEBO</string>
	<string>BEAUMONT TOWER</string>
	<string>BEEF CATTLE RES - HANDLING FACILITY</string>
	<string>BEEF CATTLE-STUDENT HOUSING</string>
	<string>BERKEY HALL</string>
	<string>BESSEY HALL</string>
	<string>BIOCHEMISTRY</string>
	<string>BIOMEDICAL PHYSICAL SCIENCES</string>
	<string>BOTANY FIELD LAB</string>
	<string>BOTANY GREENHOUSE</string>
	<string>BOX FARM - HOUSE</string>
	<string>BRESLIN STUDENT EVENTS CENTER</string>
	<string>BRODY HALL</string>
	<string>BRYAN HALL</string>
	<string>BUSINESS COLLEGE COMPLEX</string>
	<string>BUTTERFIELD HALL</string>
	<string>CAMPBELL HALL</string>
	<string>CANDLEWOOD SUITES</string>
	<string>CASE HALL</string>
	<string>CENTER INTEGRATIVE PLANT SYS - LAB</string>
	<string>CENTRAL SCHOOL</string>
	<string>CENTRAL SERVICES</string>
	<string>CHEMISTRY</string>
	<string>CHILDREN'S GARDEN SUPPORT STRUCTURE</string>
	<string>CHILDRENS GARDEN-GARDEN HOUSE</string>
	<string>CHITTENDEN HALL</string>
	<string>CLINICAL CENTER - CLINIC WING</string>
	<string>CLINICAL CENTER - OFFICE/LAB WING</string>
	<string>CLINICAL CENTER - ANIMAL QUARTER WING</string>
	<string>COMMUNICATION ARTS</string>
	<string>COMPOSTING FACILITY SOUTH CAMPUS</string>
	<string>COMPUTER CENTER</string>
	<string>CONRAD HALL</string>
	<string>COOK HALL</string>
	<string>COWLES HOUSE</string>
	<string>CREW MEN'S BOATHOUSE</string>
	<string>CREW WOMEN'S BOATHOUSE</string>
	<string>CROP SCIENCE - RESEARCH</string>
	<string>CYCLOTRON</string>
	<string>DAIRY RESEARCH - FOREMAN'S HOUSE</string>
	<string>DAIRY RESEARCH - MAIN BARN</string>
	<string>DCPAH - DIAG CNTR POP ANIM HEALTH</string>
	<string>DEMMER SHOOTING SPORTS EDUCATION</string>
	<string>DEMONSTRATION HALL</string>
	<string>DOBIE TOWER TV AND FM TRANSMITTING</string>
	<string>DUFFY DAUGHERTY FOOTBALL - S.A.A.C.</string>
	<string>EMMONS HALL</string>
	<string>ENDOCRINE RES - ADREC</string>
	<string>ENG RESEARCH COMPLEX</string>
	<string>ENGINEERING BUILDING</string>
	<string>ENGINEERING RESEARCH - HULETT RD</string>
	<string>ENGINEERING RESEARCH - JOLLY RD</string>
	<string>ENTOMOLOGY FIELD AND RESEARCH</string>
	<string>ERICKSON HALL</string>
	<string>EUSTACE-COLE HALL</string>
	<string>EXECUTIVE DEVELOPMENT</string>
	<string>FACULTY APARTMENT SUBSTATION</string>
	<string>FARRALL AG ENG PROTOTYPE ASSEMBLY</string>
	<string>FARRALL AG ENGINEERING HALL</string>
	<string>FEE HALL</string>
	<string>FIRE STATION</string>
	<string>FOOD SAFETY AND TOXICOLOGY</string>
	<string>FOOD SCIENCE</string>
	<string>FOOD STORES</string>
	<string>GEOGRAPHY BUILDING</string>
	<string>GILTNER HALL</string>
	<string>HANCOCK TURFGRASS FIELD LAB</string>
	<string>HANNAH ADMINISTRATION</string>
	<string>HOLDEN HALL</string>
	<string>HOLMES HALL</string>
	<string>HORSE RESEARCH CENTER - ARENA</string>
	<string>HORSE RESEARCH CENTER - BARN</string>
	<string>HORTICULTURE RES</string>
	<string>HORTICULTURE RES</string>
	<string>HUBBARD HALL</string>
	<string>HUMAN ECOLOGY</string>
	<string>INSECTORY (ENTOMOLOGY)</string>
	<string>INTERNATIONAL CENTER</string>
	<string>INTRAMURAL RECREATIVE SPORTS-CIRCLE</string>
	<string>INTRAMURAL RECREATIVE SPORTS-EAST</string>
	<string>INTRAMURAL RECREATIVE SPORTS-WEST</string>
	<string>JENISON FIELDHOUSE</string>
	<string>KEDZIE HALL (NORTH AND SOUTH)</string>
	<string>KELLOGG CENTER</string>
	<string>KRESGE ART CENTER</string>
	<string>LANDON HALL</string>
	<string>LANDSCAPE SERVICES</string>
	<string>LIBRARY</string>
	<string>LIFE SCIENCE</string>
	<string>LINEN SERVICES</string>
	<string>LINTON HALL</string>
	<string>MANLY MILES BUILDING</string>
	<string>MARSHALL-ADAMS HALL</string>
	<string>MARY MAYO HALL</string>
	<string>MASON AND ABBOT HALL</string>
	<string>MASON RESEARCH FARM LAB</string>
	<string>MCDONEL HALL</string>
	<string>MORRILL HALL</string>
	<string>MSU COLLEGE OF LAW</string>
	<string>MSU SURPLUS STORE AND RECYCLING CENTR</string>
	<string>MUNN ICE ARENA</string>
	<string>MUSEUM</string>
	<string>MUSIC BUILDING</string>
	<string>MUSIC PRACTICE</string>
	<string>NATURAL RESOURCES</string>
	<string>NATURAL SCIENCE</string>
	<string>OBSERVATORY</string>
	<string>OLD BOTANY</string>
	<string>OLD COLLEGE FIELD - SECCHIA STADIUM</string>
	<string>OLD HORTICULTURE</string>
	<string>OLDS HALL</string>
	<string>OLIN HEALTH CENTER</string>
	<string>OLIN HEALTH CENTER-ELEC SUBSTATION</string>
	<string>OWEN GRADUATE HALL</string>
	<string>OYER SPEECH AND HEARING</string>
	<string>PACKAGING</string>
	<string>PARKING RAMP SHAW LANE</string>
	<string>PAVILION AGRICULTURE LIVESTOCK ED</string>
	<string>PHYSICAL PLANT</string>
	<string>PLANT AND SOIL SCIENCE</string>
	<string>PLANT BIOLOGY LABORATORY</string>
	<string>POULTRY TEACHING MINK</string>
	<string>PRINTING SERVICES</string>
	<string>PSYCHOLOGY BUILDING</string>
	<string>PUBLIC SAFETY</string>
	<string>PUREBRED BEEF - MAIN</string>
	<string>RADIOLOGY BUILDING</string>
	<string>RATHER HALL</string>
	<string>RHS INFORMATION SERVICES</string>
	<string>RIVER TERRACE HOUSE</string>
	<string>RIVER WATER RESEARCH CENTER</string>
	<string>SHAW HALL</string>
	<string>SHAW LANE POWER PLANT</string>
	<string>SHOOTING RANGE - PAVILION</string>
	<string>SNYDER AND PHILLIPS HALL</string>
	<string>SOIL SCIENCE - LAB</string>
	<string>SOUTH CAMPUS ANAEROBIC DIG CONTRL</string>
	<string>SPART VILL- LAUNDRY AND SHOP 1521</string>
	<string>SPARTAN CHILD DEVELOPMENT CENTER</string>
	<string>SPARTAN STADIUM</string>
	<string>SPARTAN VILLAGE</string>
	<string>STUDENT SERVICES</string>
	<string>SWINE EVALUATION CTR</string>
	<string>SWINE TEACHING AND RESEARCH</string>
	<string>T.B. SIMON POWER PLANT</string>
	<string>TENNIS FACILITY</string>
	<string>THAYER HOUSE</string>
	<string>TRACK PRESSBOX</string>
	<string>TREE RESEARCH - SHOP/OFFICE</string>
	<string>UFMC - MAIN SHOP BLDG</string>
	<string>UFSC - 4-H BUILDING</string>
	<string>UFSC - NORTH MORTON</string>
	<string>UNION BUILDING</string>
	<string>UNIVERSITY RESEARCH CONTAINMENT</string>
	<string>UNIVERSITY SERVICES</string>
	<string>UNIVERSITY VILLAGE COMMUNITY CENTER</string>
	<string>URBAN PLANNING LANDSCAPE ARCH - IMC</string>
	<string>VANHOOSEN HALL</string>
	<string>VET MED CNTR PEGASUS CRITICAL CARE</string>
	<string>VET MED CNTR-MCPHAIL EQUINE PERFORM</string>
	<string>VET RESEARCH - OFFICE</string>
	<string>VETERINARY MEDICAL CENTER</string>
	<string>VISITOR WELCOME CENTER</string>
	<string>WELLS HALL</string>
	<string>WHARTON CENTER FOR PERFORMING ARTS</string>
	<string>WILDLIFE ECOLOGY</string>
	<string>WILLIAMS HALL</string>
	<string>WILLS HOUSE</string>
	<string>WILSON HALL</string>
	<string>WONDERS HALL</string>
	<string>YAKELEY AND GILCHRIST HALL</string>
</array>
</plist>
